/* 模块一 start */
.presell_module_one {
  background: url('/images/purchase/module1.png') no-repeat;
  background-size: 100% 100%;
  margin-top: -60px;
  padding-top: 60px;
}
.presell_module_w {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.presell_module_one .presell_module_left {
  width: 40%;
}
.presell_module_one .presell_module_left h3 {
  font-size: 64px;
  color: #333333;
  line-height: 68px;
  font-weight: 900;
  padding-bottom: 14px;
}
.presell_module_one .presell_module_left p {
  font-size: 16px;
  color: #666666;
  line-height: 32px;
  font-weight: 200;
  margin-top: 10px;
  text-align: justify;
}
.presell_module_one .presell_module_right {
  width: 60%;
  margin-right: -5%;
}
.presell_time_wrap {
  margin-top: 74px;
  width: 100%;
  padding: 30px;
  /* background-image: linear-gradient(23deg, #A6CBFF 0%, #E5E9FF 19%, #F2FFFB 56%, #EBEFF9 76%, #DEE7FF 100%, #DEE7FF 100%, #DEE7FF 100%); */
  background: url('/images/presell/bg1.png') no-repeat;
  background-size: 100% 100%;
  border-radius: 25px;
}
.presell_time_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 78px 17px 41px;
}
.presell_time_info_left h3 {
  font-size: 22px;
  color: #333333;
  font-weight: 500;
  margin-bottom: 13px;
}
.presell_time_info_left .presell_time {
  background: #EBF6FF;
  border: 1px solid rgba(3,133,242,1);
  border-radius: 5px;
  display: flex;
  align-items: flex-end;
  padding: 2px 11px 1px;
}
.presell_time_info_left .presell_time p {
  font-family: DINNextW1G-Bold;
  font-size: 38px;
  color: #0385F2;
  font-weight: 700;
  line-height: 41px;
  line-height: 1;
  margin-right: 1px;
}
.presell_time_info_left .presell_time i {
  font-family: DINNextW1G;
  font-size: 20px;
  color: #0385F2;
  font-weight: 500;
  line-height: 1.5;
  margin-right: 15px;
}
.presell_time_info_left .presell_time i:nth-last-child(1) {
  margin-right: 0;
}
.presell_time_info_right {
  width: 47%;
}
.conversion {
  margin-top: 60px;
}
/* 模块一 end */
/* 模块二 start */
.presell_module_two {
  padding: 106px 0 134px;
}
.presell_module_two .w {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.presell_module_two .presell_module_left {
  width: 72%;
  padding-left: 20px;
}
.presell_module_two .presell_module_left h3 {
  font-size: 30px;
  color: #333333;
  line-height: 68px;
  font-weight: 500;
  margin-bottom: 3px;
}
.presell_module_two .presell_module_left p {
  font-size: 14px;
  color: #666666;
  line-height: 26px;
  font-weight: 200;
  width: 55%;
  text-align: justify;
}
.presell_module_two .presell_module_left ul {
  margin-top: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.presell_module_two .presell_module_left ul li {
  display: flex;
  flex-direction: column;
  position: relative;
}
.presell_module_two .presell_module_left ul li:after {
  content: '';
  width: 1px;
  height: 50px;
  background-color: #999999;
  position: absolute;
  left: -15%;
  top: 50%;
  transform: translateY(-50%);
}
.presell_module_two .presell_module_left ul li:nth-child(1):after {
  content: none;
}
.presell_module_two .presell_module_left span {
  font-size: 16px;
  color: #666666;
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
}
.presell_module_two .presell_module_left i {
  font-family: DINNextW1G-Bold;
  font-size: 25px;
  color: #333333;
  font-weight: 700;
}
.presell_module_two .presell_module_right {
  width: 25%;
}
/* 模块二 end */
/* 模块三 start */
.presell_module_three {
  margin-bottom: 49px;
}
.presell_module_three .presell_module_three_info {
  background: url('/images/presell/bg2.png') no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: relative;
  padding: 76px 0 78px;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}
.presell_module_three p {
  font-family: DINNextW1G-Bold;
  font-size: 40px;
  color: #333333;
  font-weight: 500;
  text-align: left;
}
.presell_module_three img {
  position: absolute;
  width: 106px;
  top: 46px;
  right: 107px;
}
/* 模块三 end */

@media (max-width: 1340px) {
  .presell_module_one .presell_module_right {
    margin-right: 0;
    width: 55%;
  }
}
@media (max-width: 1200px) {
  .presell_module_w {
    justify-content: center;
  }
  .presell_module_one .presell_module_left h3 {
    font-size: 51px;
  }
  .presell_module_one .presell_module_left p {
    font-size: 14px;
  }
  .presell_time_wrap {
    margin-top: 5%;
  }
  .presell_time_info_left h3 {
    font-size: 20px;
  }
  .presell_time_info_left .presell_time p {
    font-size: 30px;
  }
  .presell_time_info_left .presell_time i {
    font-size: 18px;
  }
  .conversion {
    margin-top: 5%;
  }
  .presell_module_two {
    padding: 8% 0 10%;
  }
  .presell_module_two .presell_module_left h3 {
    font-size: 24px;
    line-height: 2;
  }
  .presell_module_two .presell_module_left span {
    font-size: 14px;
  }
  .presell_module_two .presell_module_left i {
    font-size: 20px;
  }
  .presell_module_three .presell_module_three_info {
    background-size: cover;
  }
  .presell_module_three p {
    font-size: 32px;
  }
  .presell_module_three img {
    width: 12%;
    top: 5%;
    right: 8%;
  }
}
@media(max-width: 996px) {
  .presell_module_one .presell_module_left h3 {
    font-size: 40px;
    line-height: 1;
  }
  .presell_module_one .presell_module_left p {
    line-height: 1.6;
  }
  .presell_time_wrap {
    padding: 15px;
  }
  .presell_time_info {
    padding: 15px 20px;
  }
  .presell_time_info_left h3 {
    font-size: 16px;
  }
  .presell_time_info_left .presell_time p {
    font-size: 24px;
  }
  .presell_time_info_left .presell_time i {
    font-size: 16px;
  }
  .presell_time_info_right {
    width: 38%;
  }
  .presell_module_two .presell_module_left h3 {
    font-size: 19px;
  }
  .presell_module_two .presell_module_left p {
    font-size: 12px;
    line-height: 1.6;
  }
  .presell_module_two .presell_module_left ul {
    margin-top: 6%;
  }
  .presell_module_two .presell_module_left i {
    font-size: 16px;
  }
  .presell_module_two .presell_module_left {
    width: 60%;
  }
  .presell_module_two .presell_module_left p {
    width: 80%;
  }
  .presell_module_three .presell_module_three_info {
    padding: 5% 0 5%;
    border-radius: 10px;
  }
  .presell_module_three p {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .presell_module_one {
    margin-top: 0;
    padding-top: 6%;
  }
  .presell_module_w {
    flex-direction: column;
  }
  .presell_module_one .presell_module_left {
    width: 100%;
    text-align: center;
  }
  .presell_module_one .presell_module_left h3 {
    font-size: 32px;
  }
  .presell_module_one .presell_module_left p {
    font-size: 12px; 
  }
  .presell_module_one .presell_module_right {
    width: 40%;
  }
  .presell_time_info_left h3 {
    font-size: 14px;
  }
  .presell_module_two .w {
    flex-direction: column;
  }
  .presell_module_two .presell_module_left {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
  .presell_module_two .presell_module_left h3 {
    font-size: 16px;
  }
  .presell_module_two .presell_module_left p {
    width: 100%;
  }
  .presell_module_two .presell_module_left ul {
    margin: 3% 0;
  }
  .presell_module_two .presell_module_left ul li:after {
    content: none;
  }
  .presell_module_two .presell_module_left span {
    font-size: 12px;
  }
  .presell_module_two .presell_module_left i {
    font-size: 14px;
  }
  .presell_module_two .presell_module_right {
    width: 30%;
  }
  .presell_module_three p {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .presell_module_one .presell_module_left h3 {
    font-size: 20px;
  }
  .presell_module_one .presell_module_right {
    width: 80%;
  }
  .presell_time_info_left .presell_time p {
    font-size: 19px;
  }
  .presell_time_info_left .presell_time i {
    font-size: 14px;
    line-height: 1.2;
  }
  .presell_time_info {
    padding: 10px;
  }
  .presell_module_two .presell_module_left h3 {
    font-size: 14px;
  }
  .presell_module_two .presell_module_left p {
    margin-bottom: 5%;
  }
  .presell_module_two .presell_module_right {
    width: 60%;
  }
  .presell_module_two .presell_module_left ul {
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
  }
  .presell_module_two .presell_module_left ul li {
    width: 50%;
    margin-bottom: 15px;
  }
  .presell_module_three p {
    font-size: 14px;
  }
  .presell_module_three {
    margin-bottom: 5%; 
  }
  .presell_time_wrap {
    border-radius: 15px;
  }
  .presell_time_wrap .presell_time_info {
    flex-direction: column;
    text-align: center;
  }
  .presell_time_info_right {
    margin-top: 5%;
    width: 60%;
  }
}