/* 模块一 start */
.zoology_module_one {
  padding: 95px 0 55px;
  background: url('/ozfund/images/zoology/module1.png') no-repeat;
  background-size: 100% 100%;
  margin-top: -60px;
}
.zoology_module_one .w {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.zoology_module_one .zoology_module_left {
  width: 38%;
  margin-right: 10%;
  padding-top: 93px;
}
.zoology_module_one .zoology_module_left h3 {
  font-family: DINNextW1G;
  font-size: 64px;
  color: #333333;
  line-height: 68px;
  margin-bottom: 35px;
}
.zoology_module_one .zoology_module_left p {
  font-size: 16px;
  color: #333333;
  line-height: 32px;
  font-weight: 200;
}
.zoology_module_one .zoology_module_right {
  width: 60%;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: -20%;
}
/* 模块一 end */

/* 模块二 start */
.zoology_module_two {
  padding: 70px 0 72px;
}
.zoology_module_two .w {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.zoology_module_two .zoology_module_left {
  width: 33.33%;
  margin-right: 10%;
}
.zoology_module_two .zoology_module_right {
  width: 46%;
}
.zoology_module_two .zoology_module_right h3 {
  font-size: 40px;
  color: #333333;
  line-height: 68px;
  font-weight: 500;
}
.zoology_module_two .zoology_module_right p {
  font-size: 14px;
  color: #666666;
  line-height: 24px;
  font-weight: 200;
  margin: 24px 0 40px;
  text-align: justify;
}
.zoology_module_two .zoology_module_right button {
  padding: 0 12px;
  height: 48px;
  background: #FFC200;
  border-radius: 10px;
  font-size: 18px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}
.zoology_module_two .zoology_module_right button img {
  width: 16px;
  margin-left: 15px;
}
/* 模块二 end */
/* 模块三 start */
.zoology_module_three {
  padding: 170px 0 180px;
  background: url('/ozfund/images/zoology/module2.png') no-repeat;
  background-size: 100% 100%;
}
.zoology_module_three .w {
  text-align: center;
}
.zoology_module_three .zoology_module_tit {
  width: 82%;
  margin: 0 auto;
}
.zoology_module_three h3 {
  font-size: 40px;
  color: #333333;
  line-height: 44px;
  font-weight: 500;
  margin-bottom: 24px;
}
.zoology_module_three p {
  font-size: 14px;
  color: #666666;
  line-height: 24px;
  font-weight: 200;
  text-align: justify;
}
.zoology_module_three img {
  width: 38%;
  display: block;
  margin: 40px auto;
}
/* 模块三 end */
/* 模块四 start */
.zoology_module_four {
  padding: 42px 0 79px;
}
.zoology_module_four .w {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.zoology_module_four .zoology_module_left {
  line-height: 24px;
  font-weight: 200;
  font-size: 14px;
  width: 47%;
  margin-right: 10%;
}
.zoology_module_four .zoology_module_left h3 {
  font-size: 40px;
  color: #333333;
  line-height: 44px;
  font-weight: 500;
}
.zoology_module_four .zoology_module_left p {
  color: #666666;
  margin: 24px 0 14px;
  text-align: justify;
}
.zoology_module_four .zoology_module_left span {
  color: #333333;
}
.zoology_module_four .zoology_module_right {
  width: 29%;
}
/* 模块四 end */

@media (max-width: 1600px) {
  .zoology_module_one .zoology_module_right {
    margin-right: 0;
    width: 45%;
  }
}
@media (max-width: 1215px) {
  .zoology_module_one .zoology_module_left  {
    width: 40%;
  }
}
@media (max-width: 1200px) {
  .zoology_module_one {
    padding: 76px 0 55px;
  }
  .zoology_module_one .zoology_module_left {
    padding-top: 5%;
  }
  .zoology_module_one .zoology_module_left h3 {
    font-size: 51px;
    line-height: 54px;
  }
  .zoology_module_two {
    padding: 5% 0;
  }
  .zoology_module_two .zoology_module_right h3 {
    font-size: 32px;
    line-height: 54px;
  }
  .zoology_module_two .zoology_module_right p {
    margin: 3% 0 6%;
  }
  .zoology_module_two .zoology_module_right button {
    font-size: 16px;
  }
  .zoology_module_three {
    padding: 15% 0 17%;
  }
  .zoology_module_three h3 {
    font-size: 32px;
    margin-bottom: 2%;
  }
  .zoology_module_four {
    padding: 3% 0 6%;
  }
  .zoology_module_four .zoology_module_left h3 {
    font-size: 32px;
  }
}
@media (max-width: 996px) {
  .zoology_module_one {
    padding: 70px 0 6%;
  }
  .zoology_module_one .zoology_module_left {
    padding-top: 2%;
  }
  .zoology_module_one .zoology_module_left h3 {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 5%;
  }
  .zoology_module_one .zoology_module_left p {
    font-size: 14px;
    line-height: 2;
  }
  .zoology_module_two .zoology_module_right h3 {
    font-size: 25px;
    line-height: 1.2;
  }
  .zoology_module_two .zoology_module_right p {
    font-size: 12px;
  }
  .zoology_module_two .zoology_module_right button {
    font-size: 14px;
    height: 38px;
  }
  .zoology_module_three {
    background-size: auto;
    padding: 7%;
  }
  .zoology_module_three h3 {
    font-size: 25px;
  }
  .zoology_module_three p {
    font-size: 12px;
  }
  .zoology_module_four .zoology_module_left h3 {
    font-size: 25px;
    line-height: 1.2;
  }
  .zoology_module_four .zoology_module_left {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .zoology_module_one .w {
    flex-direction: column;
    padding-top: 3%;
  }
  .zoology_module_one .zoology_module_left {
    width: 100%;
    text-align: center;
  }
  .zoology_module_one .zoology_module_left h3 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .zoology_module_one .zoology_module_right {
    margin: 2% auto 0;
  }
  .zoology_module_two .w {
    flex-direction: column;
  }
  .zoology_module_two .zoology_module_left {
    margin: 0 auto;
  }
  .zoology_module_two .zoology_module_right {
    width: 100%;
    text-align: center;
    padding-top: 3%;
  }
  .zoology_module_two .zoology_module_right h3 {
    font-size: 20px;
  }
  .zoology_module_two .zoology_module_right button {
    font-size: 12px;
  }
  .zoology_module_three h3 {
    font-size: 20px;
  }
  .zoology_module_four .w {
    flex-direction: column;
  }
  .zoology_module_four .zoology_module_left {
    width: 100%;
    text-align: center;
  }
  .zoology_module_four .zoology_module_right {
    margin: 0 auto;
  }
}
@media(max-width: 480px) {
  .zoology_module_one {
    margin-top: 0;
    padding: 2% 0 3%;
    background: url(/images/zoology/module11.png) no-repeat;
    background-size: 100%;
    background-position: bottom;
  }
  .zoology_module_one .zoology_module_left h3 {
    font-size: 25px;
  }
  .zoology_module_one .zoology_module_left p {
    font-size: 12px;
  }
  .zoology_module_one .zoology_module_right {
    width: 60%;
  }
  .zoology_module_two {
    /* margin-top: 20px; */
  }
  .zoology_module_two .zoology_module_left {
    width: 60%;
    margin-top: 5%;
  }
  .zoology_module_two .zoology_module_right h3 {
    font-size: 20px;
  }
  .zoology_module_two .zoology_module_right p {
    line-height: 1.8;
  }
  .zoology_module_three h3 {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 3%;
  }
  .zoology_module_three p {
    line-height: 1.8;
  }
  .zoology_module_four .zoology_module_left h3 {
    font-size: 20px;
  }
  .zoology_module_four .zoology_module_left {
    width: 100%;
    margin: 0 auto;
    padding-top: 5%;
  }
  .zoology_module_two .zoology_module_right button {
    height: 44px;
  }
  .zoology_module_three img {
    width: 60%;
  }
  .zoology_module_four .zoology_module_right {
    width: 60%;
  }
  .zoology_module_three .zoology_module_tit {
    width: 100%;
  }
  .zoology_module_three  {
    padding: 15% 0 10%;
  }
  .zoology_module_four .zoology_module_left p {
    margin: 3% 0 1%;
  }
}