/* 模块一 start */
.purchase_module_one {
  background: url('/ozfund/images/purchase/module1.png') no-repeat;
  background-size: 100% 100%;
  margin-top: -60px;
  padding-top: 60px;
}
.purchase_module_one .purchase_module_w {
  display: flex;
  align-items: center;
  justify-content: center;
}
.purchase_module_one .purchase_module_left {
  width: 40%;
}
.purchase_module_one .purchase_module_left h3 {
  font-size: 64px;
  color: #333333;
  line-height: 68px;
  font-weight: 900;
  margin-bottom: 24px;
}
.purchase_module_one .purchase_module_left p {
  font-size: 16px;
  color: #666666;
  line-height: 32px;
  font-weight: 200;
}
.purchase_module_one .purchase_module_right {
  width: 60%;
  margin-right: -10%;
}
/* 模块一 end */
/* 模块二 start */
.purchase_module_two {
  margin: 100px 0 115px;
}
.purchase_module_two .w {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.purchase_module_two .purchase_module_left {
  width: 27%;
}
.purchase_module_two .purchase_module_right {
  width: 46%;
}
.purchase_module_two .purchase_module_right h3 {
  font-size: 40px;
  color: #333333;
  font-weight: 500;
  margin-bottom: 14px;
}
.purchase_module_two .purchase_module_right p {
  font-size: 14px;
  color: #666666;
  line-height: 24px;
  font-weight: 200;
  text-align: justify;
  margin-bottom: 10px;
}
.purchase_module_two .purchase_module_right p:nth-last-child(1) {
  margin-bottom: 0;
}
.purchase_module_two .purchase_module_right p i {
  color: #0385F2;
}
.purchase_btns {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.purchase_btns button {
  padding: 0 31px;
  height: 48px;
  border-radius: 10px;
  font-size: 18px;
  border: 1px solid #0385F2;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.purchase_btns button .arrow {
  width: 16px;
  height: 16px;
  font-size: 12px;
  display: block;
  border-radius: 50%;
  margin-left: 15px;
}
.purchase_btns button .arrow i {
  width: 6px;
  height: 6px;
  display: block;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #0385F2 #0385F2 transparent transparent;
  transform: rotateZ(45deg);
  margin-top: 5px;
  margin-left: 4px;
}
.purchase_btn_one {
  background: #0385F2;
  color: #FFFFFF;
}
.purchase_btn_one .arrow {
  background: #FFFFFF;
  color: #0385F2;
}
.purchase_btn_two {
  background: transparent;
  color: #0385F2;
  margin-left: 20px;
}
.purchase_btn_two .arrow {
  background: #0385F2;
}
.purchase_btns .purchase_btn_two .arrow i {
  border-color: #FFFFFF #FFFFFF transparent transparent;
}
/* 模块二 end */
/* 模块三 start */
.purchase_module_three {
  margin-bottom: 63px;
}
.purchase_module_three .w {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.purchase_module_txt {
  width: 47%;
}
.purchase_module_txt h3 {
  font-size: 40px;
  color: #333333;
  line-height: 44px;
  font-weight: 500;
  margin-bottom: 24px;
}
.purchase_module_txt p {
  font-size: 14px;
  color: #666666;
  line-height: 24px;
  font-weight: 200;
  text-align: justify;
  margin-bottom: 10px;
}
.purchase_module_txt p:nth-last-child(1) {
  margin-bottom: 0;
}
.purchase_module_img {
  width: 50%;
  text-align: center;
}
.purchase_module_img img {
  width: 60%;
}
/* 模块三 end */

/* 曲线图 start */
.graph {
}
.graph .w {
  background: #FFFFFF;
  box-shadow: 0px 5px 15px 7px rgba(3,133,242,0.03);
  border-radius: 15px;
  padding: 40px;
}
.graph_tit {
  font-size: 18px;
  color: #333333;
}
.graph_data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 15px;
}
.graph_data .graph_data_left {
  font-family: DINNextW1G;
  color: #333333;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
}
.graph_data .graph_data_left p {
  font-size: 40px;
  margin-right: 5%;
  font-family: DINNextW1G-Bold;
  font-weight: inherit;
  font-weight: 500;
}
.graph_data .graph_data_left span {
  font-family: DINNextW1G-Bold;
  font-size: 20px;
  margin-right: 5%;
}
.graph_data .graph_data_left i {
  font-family: DINNextW1G-Bold;
  font-size: 20px;
  color: #0385F2;
}
.graph_data .graph_data_right {
  height: 33px;
  line-height: 33px;
  background: rgba(218, 238, 255, .2);
  border: 1px solid rgba(151,151,151, .2);
  border-radius: 16.5px;
  display: flex;
  align-items: center;
}
.graph_data .graph_data_right li {
  font-size: 16px;
  color: #0385F2;
  width: 59px;
  text-align: center;
  height: 100%;
  cursor: pointer;
}
.graph_data .graph_data_right li.cur {
  background: #0385F2;
  border-radius: 15.5px;
  color: #FFFFFF;
}
.graph_time {
  font-size: 16px;
  color: #999999;
}
#curve {
  width: 100%;
  height: 360px;
}
/* 曲线图 end */

/* 模块四 start */
.purchase_module_four {
  margin: 50px 0 60px;
}
.allocation {
  padding: 38px 0;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 5px 15px 7px rgba(3,133,242,0.03);
  border-radius: 15px;
  display: flex;
  align-items: center;
  background: url('/ozfund/images/purchase/segment.png') no-repeat;
  background-position: center;
}
.allocation_left {
  width: 50%;
  padding: 0 109px;
}
.allocation_tit {
  text-align: center;
  font-size: 40px;
  color: #333333;
  line-height: 44px;
  font-weight: 500;
  margin-bottom: 38px;
}
.allocation_left ul {}
.allocation_left ul li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #666666;
  line-height: 24px;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.allocation_left ul li p {
  
}
.allocation_left ul li p i {
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 20px;
}
.allocation_left ul li:nth-child(1) p i { background: #3CEA97; }
.allocation_left ul li:nth-child(2) p i { background: #0385F2; }
.allocation_left ul li:nth-child(3) p i { background: #FFC200; }
.allocation_left ul li:nth-child(4) p i { background: #6477E0; }
.allocation_left ul li:nth-child(5) p i { background: #9EBFFF; }
.allocation_left ul li:nth-child(6) p i { background: #FF9053; }
.allocation_left ul li span {
  
}
.allocation_right {
  width: 50%;
  text-align: center;
}
.allocation_right img {
  width: 305px;
}
/* 模块四 end */

@media(max-width: 1350px) {
  .purchase_module_one .purchase_module_right {
    width: 60%;
    margin-right: 0;
  }
}
@media(max-width: 1200px) {
  .purchase_module_one .purchase_module_left {
    /* padding-left: 10%; */
  }
  .purchase_module_one .purchase_module_right {
    width: 40%;
  }
  .purchase_module_one .purchase_module_left h3 {
    font-size: 51px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .purchase_module_one .purchase_module_left p {
    font-size: 14px;
    line-height: 30px;
  }
  .purchase_module_two {
    margin: 10% 0 11%;
  }
  .purchase_module_two .purchase_module_right h3 {
    font-size: 32px;
  }
  .purchase_module_two .purchase_module_right p {
    line-height: 20px;
  }
  .purchase_btns {
    margin-top: 8%;
  }
  .purchase_btns button {
    font-size: 16px;
    height: 38px;
  }
  .purchase_module_three {
    margin-bottom: 5%;
  }
  .purchase_module_txt h3 {
    font-size: 32px;
  }
  .purchase_module_txt p {
    line-height: 20px;
  }
  .graph .w {
    padding: 32px;
  }
  .graph_tit {
    font-size: 16px;
  }
  .graph_data {
    margin: 2% 0 1%;
  }
  .graph_data .graph_data_left p {
    font-size: 32px;
  }
  .graph_data .graph_data_left span, .graph_data .graph_data_left i {
    font-size: 18px;
  }
  .graph_time {
    font-size: 14px;
  }
  .purchase_module_four {
    margin: 5% 0 6%;
  }
  .allocation {
    padding: 3% 0;
  }
  .allocation_tit {
    font-size: 32px;
    line-height: 1.5;
  }
  .allocation_right img {
    width: 40%;
  }
}
@media (max-width: 996px) {
  .purchase_module_one .purchase_module_left h3 {
    font-size: 40px;
    margin-bottom: 3%;
  }
  .purchase_module_one .purchase_module_left p {
    line-height: 24px;
  }
  .purchase_module_two {
    margin: 8% 0 9%;
  } 
  .purchase_module_two .purchase_module_right h3 {
    font-size: 25px;
  }
  .purchase_module_two .purchase_module_right p {
    font-size: 12px;
  }
  .purchase_btns button {
    font-size: 14px;
  }
  .purchase_module_txt h3 {
    font-size: 25px;
  }
  .purchase_module_three .w {
    padding: 0 5%;
  }
  .purchase_module_txt p {
    font-size: 12px;
  }
  .allocation_left {
    padding: 0 5%;
  }
  .allocation_tit {
    font-size: 25px;
    margin-bottom: 5%;
  }
  .allocation_left ul li {
    font-size: 12px;
  }
  .allocation_left ul li p i {
    width: 12px;
    height: 12px;
  }
}
@media (max-width: 768px) {
  .purchase_module_one .purchase_module_w {
    flex-direction: column;
  }
  .purchase_module_one .purchase_module_left {
    width: 100%;
    text-align: center;
  }
  .purchase_module_two .w {
    flex-direction: column;
  }
  .purchase_module_two .purchase_module_right {
    width: 100%;
    text-align: center;
  }
  .purchase_module_two .purchase_module_right h3 {
    font-size: 20px;
  }
  .purchase_btns {
    justify-content: center;
    margin-top: 5%;
  }
  .purchase_btns button {
    padding: 0 25px;
    height: 30px;
  }
  .purchase_module_three .w {
    flex-direction: column;
  }
  .purchase_module_txt {
    width: 100%;
    text-align: center;
  }
  .purchase_module_img {
    margin-top: 3%;
  }
  .graph_data {
    flex-direction: column;
    align-items: flex-start;
  }
  .graph_data .graph_data_right {
    margin: 2% 0;
  }
  .graph_tit {
    font-size: 14px;
  }
  .graph_data .graph_data_left p {
    font-size: 25px;
  }
  .graph_data .graph_data_left span, .graph_data .graph_data_left i {
    font-size: 16px;
  }
  .graph_time {
    font-size: 12px;
  }
  .allocation_tit {
    font-size: 20px;
  }
  .allocation {
    flex-direction: column;
    background: none;
  }
  .allocation_left {
    width: 100%;
  }
  .allocation_right {
    margin-top: 5%;
  }
}
@media (max-width: 480px) {
  .purchase_module_one {
    margin-top: 0;
    padding-top: 10px;
  }
  .purchase_module_one .purchase_module_left h3 {
    font-size: 22px;
  }
  .purchase_module_one .purchase_module_left p {
    font-size: 12px;
  }
  .purchase_module_two .purchase_module_right h3 {
    margin: 3% 0;
  }
  .purchase_module_txt h3 {
    font-size: 20px;
    margin-bottom: 3%;
    line-height: 1;
  }
  .graph_tit {
    font-size: 12px;
  }
  .graph_data .graph_data_left p {
    font-size: 20px;
  }
  .graph_data .graph_data_left span, .graph_data .graph_data_left i {
    font-size: 14px;
  }
  .graph_data .graph_data_right li {
    font-size: 14px;
  }
  .allocation_tit {
    /* font-size: 16px; */
    margin-bottom: 3%;
  }
  .purchase_btns button {
    height: 44px;
  }
  .purchase_module_two .purchase_module_left {
    width: 60%;
  }
  .purchase_module_img {
    width: 60%;
  }
  .purchase_module_img img {
    width: 100%;
  }
  .allocation_right {
    width: 60%;
  }
  .allocation_right img {
    width: 100%;
  }
  .purchase_module_one .purchase_module_right {
    width: 80%;
  }
}


/* 弹窗 */
.modal_wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(28, 28, 28, .5);
  display: none;
}
.modal_wrap .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 344px;
  background: #FFFFFF;
  border-radius: 20px;
}
.modal_head {
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: url('/ozfund/images/purchase/modalHead.png') no-repeat;
  background-size: cover;
}
.modal_head li {
  font-size: 16px;
  color: #999999;
  padding-bottom: 10px;
  cursor: pointer;
}
.modal_head li.cur {
  color: #333333;
  border-bottom: 2px solid #0385F2;
}
.modal_body {
  padding: 24px 30px;
}
.modal_input {}
.modal_input p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #999999;
}
.modal_input p i {
  color: #0385F2;
  cursor: pointer;
}
.modal_input input {
  margin-top: 10px;
  width: 100%;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid rgba(230,230,230,1);
  border-radius: 4px;
  padding: 10px;
}
.modal_data {
  margin-top: 24px;
}
.modal_data li {
  margin-bottom: 15px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal_data li p {
  color: #999999;
}
.modal_data li span {
  color: #333333;
}
.modal_btn {
  width: 100%;
  height: 40px;
  background: #0385F2;
  border-radius: 4px;
  font-size: 14px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  margin-top: 9px;
}
.modal_close {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  top: -46px;
  right: -20px;
}